.weather-forecast {
  text-align: center;
  padding-top: 50px;
}

.temp-forecast {
  font-size: 9pt;
  padding: 10px;
}

.min-temp-forecast {
  opacity: 0.5;
}

.day {
  font-weight: 500;
}

.icon {
  max-width: 50px;
}