
  .Weather {
  font-family: "Quicksand", sans-serif;
}

.last-updated {
  font-size: 8pt;
}

.fa-solid {
  color: goldenrod;
  opacity: 40%;
}

div .weather-info {
padding-left: 40px;
padding-right: 0px;
}
